{% extends 'chat/base.html' %}
{% load static %}

{% block title %}Chat con {{ room_name }}{% endblock %}

{% block content %}
<div class="chat-container">
    <div class="chat-header">
        <h5>Chat con {{ room_name }}</h5>
    </div>
    
    <div class="chat-box" id="chat-log">
        {% for message in messages %}
        <div class="message {% if message.sender == request.user %}sent{% else %}received{% endif %}">
            <div class="message-content">
                <strong>{{ message.sender.username }}</strong>
                <p>{{ message.message }}</p>
                <p class="chat-time">{{message.timestamp | date:'H:i'}}</p>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="chat-input">
        <input type="text" id="chat-message-input" class="form-control" placeholder="Escribe un mensaje...">
        <button id="chat-message-submit" class="btn btn-primary">Enviar</button>
    </div>
</div>

<script>
    const roomName = "{{ room_name }}";
    const receiver = "{{ receiver }}";
    const current_user = "{{ request.user.username }}";
    const isPrivateChat = {{ is_private_chat|yesno:"true,false" }};
//funcion para que al ingresar al chat, se vea el ultimo mensaje
    function scrollToEnd() {
        const chatLog = document.querySelector('#chat-log');
        chatLog.scrollTop = chatLog.scrollHeight;
    }
// se crea un WebSocket
    {% comment %} const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat/' + roomName + '/'
    ); {% endcomment %}

    const wsProchat = window.location.protocol === "https:" ? "wss" : "ws";
    const chatSocket = new WebSocket(
        wsProchat + "://" + window.location.host + '/ws/chat/' + roomName + '/'
    );

//funcion para las notici
    chatSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);

        const timestamp = data.timestamp;
        //const formattedTime = timestamp.toLocaleTimeString();
        const messageDiv = document.createElement('div');
        messageDiv.classList.add('message');

        if (data.sender === current_user) {
            messageDiv.classList.add('sent');
        } else {
            messageDiv.classList.add('received');

            // Notificación para mensajes nuevos
        }
        
        messageDiv.innerHTML = `<div class="message-content">
                                    <strong>${data.sender}</strong>
                                    <p>${data.message}</p>
                                     <p class="chat-time">${timestamp}</p>
                                </div>`;
        document.querySelector('#chat-log').appendChild(messageDiv);

        scrollToEnd();
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function() {
        const messageInputDom = document.querySelector('#chat-message-input');
        const message = messageInputDom.value.trim();

        if (message !== "") {
            chatSocket.send(JSON.stringify({
                'message': message,
                'sender': current_user,
                'receiver': receiver,
            }));
            messageInputDom.value = '';
        }
        scrollToEnd();
    };

    // Desplazar hacia abajo al cargar la página
    scrollToEnd();

    // Solicitar permisos de notificación
    if (Notification.permission !== "granted") {
        Notification.requestPermission();
    }
</script>
{% endblock %}