body {
  margin: 0;
  padding: 20px;
  padding-bottom: 10px !important;
  background-color: #031e3b;
  overflow: hidden;
}
.login {
  margin-top: 5vh;
}

.navbar{
  background-color: #d7dee5 !important;
}
.navbar-light .navbar-brand{
  color: #1b1c3b !important;
}
h1 {
  color: #ffffff;
}
h4{
  color: #ffffff;
  padding: 20px;
}
.chat-sidebar {
  background: #868c9267;
  height: 100vh;
  /* padding: 15px; */
  padding-left: 0;
  padding-right: 0;
  /* border-right: 5px solid #031e3b; */
  height: 665px;
  
}
.list-group{
  max-height: 612px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  background-color: #1b1c3b87 !important;

  
}
.list-group-item{
  background-color: #1b1c3b57 !important;
  border-bottom: 1px solid #70809026;
  max-height: 70px;
}
.list-group-item:hover{
  background-color: #1b1c3b !important;
  border-color: #1b1c3b !important;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

/* Estilos del área de chat */

.chat-header {
  background: #004085 ;
  padding: 10px;
  border-radius: 0;
}
.chat-header-2 {
  background: #1b1c3b ;
  padding: 10px;
  border-radius: 0;
  color: #f8f9fa;
}

.message {
  max-width: 75%;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: inline-block;
}

/* Estilo del input */
.chat-input {
  display: flex;
  background-color: #0e0f22 !important;
}

.chat-input input {
  flex-grow: 1;
  margin-right: 10px;
}
.chat-container {
  display: flex;
  flex-direction: column;
  height: 85vh;
  /*max-width: 900px;*/
  /* margin: 20px auto; */
  /* border: 1px solid #ccc; */
  border-radius: 0;
  margin-left: 0;
  background: #f8f9fa;

}
.chat-init{
  color: #fcfcfc !important;
  padding: 30px;
  background-color: #3f506336 !important;
}
/* Encabezado del chat */
.chat-header {
  background: #1b1c3b;
  color: white;
  padding: 10px;
  text-align: initial;
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
}

/* Caja de mensajes */
.chat-box {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  padding: 10px;
  display: flex;
  border-radius: 0 ;
  flex-direction: column;
  background-color: #868c92ba;
}

/* Mensaje base */
.message {
  display: flex;
  max-width: 70%;
  margin-bottom: 10px;
}

/* Estilo de mensaje recibido */
.message.received {
  align-self: flex-start;
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 15px 15px 15px 0;
  box-shadow: 2px 2px 8px 4px  rgba(0, 0, 0, 0.1);
}

/* Estilo de mensaje enviado */
.message.sent {
  align-self: flex-end;
  background:linear-gradient(to bottom,#74b570,#79bd75 );
  padding: 10px;
  border-radius: 15px 15px 0 15px;
  box-shadow: 2px 2px 8px 4px  rgba(0, 0, 0, 0.1);
}
.col-md-8{
  background-color: #031e3b !important;
  margin-bottom: 0;
  padding: 0;
}
/* Contenido del mensaje */
.message-content {
  display: flex;
  flex-direction: column;
}

/* Estilos del texto del mensaje */
.message p {
  margin: 5px 0 0;
  font-size: 14px;
  word-wrap: break-word;
}

/* Input y botón de enviar */
.chat-input {
  display: flex;
  padding: 10px;
  background: white;
  border-top: 1px solid #ccc;
}

.chat-input input {
  flex-grow: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.chat-input button {
  margin-left: 5px;
}
.btn{
  display: block;
  text-align: initial;
  outline: none;
}

.btn-success{
  background-color: #20a006 !important;
  border-color: #20a006 !important;
}

.btn-primary{
  background-color: #0e0f22  !important;
  border-color: #0e0f22  !important;
  color: #20a006;
}

.chat-time{
  font-size: 10px !important;
  text-align: end;
  color: #5f6264;
}

a {
  color: rgb(248, 248, 248) !important;
  text-transform: capitalize;
}

.active-user {
  background-color: #74b570  !important; /* Verde */
  color: white !important;
  font-weight: bold;
  border-color: #74b570 !important;
}
.active-user:hover {
background-color: #74b570 !important;
border-color: #74b570 !important;
}
.chat-image {
  border-radius: 8px;
  display: block;
  margin: 5px 0;
  object-fit: cover;
  max-width: 200px; 
  max-height: 200px;
}
.sent .chat-image {
  align-self: flex-end;
}
.received .chat-image {
  align-self: flex-start;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  max-height: 90vh;
  overflow: hidden;
}

.modal-content {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.close {
  position: absolute;
  top: 20px;
  right: 35px;
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.nav-user{
  padding-left: 66%;
  font-size: large;
  color: #1b1c3b;
}