{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    
</head>
<body>

<div class="login-container">
    {%if messages %}
    {%for message in messages%}
    <div class="alert {%if message.tags%}alert-{{message.tags}} {%endif%}">
        {{message}}
    </div>
    {%endfor%}
    {%endif%}
    <h2>Iniciar sesión</h2>
    <form method="post">
        {% csrf_token %}
        
       
        <div class="form-group">
            <label for="id_username">Usuario</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                <input type="text" id="id_username" name="username" class="form-control" placeholder="Ingresa tu usuario" required>
            </div>
        </div>

        <div class="form-group">
            <label for="id_password">Contraseña</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                </div>
                <input type="password" id="id_password" name="password" class="form-control" placeholder="Ingresa tu contraseña" required>
            </div>
        </div>

        <button class="btn btn-primary btn-login" type="submit">Iniciar sesión</button>
       
        
    </form>

    <p class="register-link">¿No tienes una cuenta? <a href="{% url 'signup' %}">Regístrate aquí</a>.</p>

</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>